/* Base */

html
  font-family: $basic
  font-weight: normal
  font-size: 1rem
  font-display: swap
  font-weight: normal
  font-smooth: always
  -webkit-font-smoothing: antialised
  -moz-osx-font-smoothing: grayscale
  background: #fff
  margin: 0
  padding: 0
  +v-desktop
    background: $body
body
  width: 100vw
  height: 100vh
  margin: 0
  padding: 0
  background: #fff
  overflow: hidden
  +v-desktop
    background: $body

img
  max-width: 100%
  height: auto

.logo
  &-splash
    margin: 0 auto
    padding: 24px 54px

.hidden
  display: none !important

.mw
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 100%
  +v-mobile
    align-items: flex-start
  +v-desktop
    margin: 0
    padding: 0
    align-items: flex-start
  .screen
    display: block
    width: 24vw
    height: 96vh
    max-width: 375px
    max-height: 812px
    margin: 2vh auto
    border-radius: 40px
    border: 12px solid #000
    background: #070031 url('../../assets/png/bg/screen.png') center center no-repeat
    background-size: cover
    overflow: hidden
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out, border-radius 0.3s ease-in-out, border 0.3s ease-in-out
    &.animate
      transform: translateX(-100%)
    &.splash,
    &.onboarding
      background: #070031 url('../../assets/png/bg/splash.png') center center no-repeat
      background-size: cover
    &.not
      background: #070031 url('../../assets/png/bg/notfound.png') center center no-repeat
      background-size: cover
    +v-lg
      width: 28vw
      max-width: 420px
      max-height: 90vh
      margin: 5vh auto
    +v-md
      min-width: 480px
      max-height: 88vh
      margin: 6vh auto
      overflow: hidden
    +v-sm
      width: 100vw
      height: 100vh
      min-width: 100vw
      max-width: 100vw
      max-height: 100vh
      min-height: 100vh
      overflow-y: auto
      overflow-x: hidden
      -webkit-overflow-scrolling: touch
      margin: 0
      border-radius: 0
      border: none
    +v-xs
      width: 100vw
      height: 100vh
      min-width: 100vw
      max-width: 100vw
      max-height: 100vh
      min-height: 100vh
      overflow-y: auto
      overflow-x: hidden
      -webkit-overflow-scrolling: touch
      margin: 0
      border-radius: 0
      border: none

a, * a
  color: inherit !important
  text-decoration: none !important
