.title
  width: 100%
  margin: 16px auto
  color: $white !important
  font-size: 16px
  font-weight: 400
  text-align: center
  transition: all 0.3s ease-in-out
  +v-xs
    font-size: 15px
    margin: 12px auto
  +v-sm
    font-size: 16px
    margin: 14px auto
  +v-md
    font-size: 18px
    margin: 18px auto
  +v-desktop
    font-size: 24px
    margin: 0 0 24px 0
    text-align: left
  &.form
    font-size: 16px
    color: $blue !important
    +v-xs
      font-size: 15px
    +v-sm
      font-size: 17px
    +v-md
      font-size: 20px
    +v-desktop
      font-size: 28px
      text-align: left
      margin: 0 0 24px 0
  &.medium
    padding: 0
    font-size: 14px
    +v-xs
      font-size: 13px
    +v-sm
      font-size: 14px
    +v-desktop
      font-size: 16px
  &.mini
    padding: 0
    color: $white !important
    font-size: 13px
    font-weight: 300
    +v-xs
      font-size: 12px
    +v-sm
      font-size: 13px
    +v-desktop
      font-size: 14px
// Десктопная версия заголовков
.desktop-mode .title
  font-size: 24px
  margin: 0 0 24px 0
  text-align: left
  &.form
    font-size: 28px
    margin: 0 0 24px 0

.w100
  font-weight: 100
.w200
  font-weight: 200
.w300
  font-weight: 300
.w400
  font-weight: 400
.w500
  font-weight: 5100
.w600
  font-weight: 600
.w700
  font-weight: 700
.w800
  font-weight: 800
.w900
  font-weight: 900

.fz
  &-40
    font-size: 3.95em
    +v-sm
      font-size: 1.5em
  &-32
    font-size: 2.75em
    +v-sm
      font-size: 1.5em
  &-24
    font-size: 2.0625em
    +v-sm
      font-size: 1.25em
  &-20
    font-size: 1.71875em
    +v-sm
      font-size: 1.15em
  &-18
    font-size: 1.5468em
    +v-sm
      font-size: 1.05em
  &-16
    font-size: 1.375em
    +v-sm
      font-size: 1em
  &-14
    font-size: 1.203em
    +v-sm
      font-size: 1em
  &-13
    font-size: 1.117em
    +v-sm
      font-size: .95em
  &-12
    font-size: 1.03125em
    +v-sm
      font-size: .85em
